<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    {{range .}}
    <h2>{{.Name}}</h2>
    <p>{{.Zip}}</p>
    <p>{{.City}}</p>
    <p>{{.Address}}</p>
    <p>{{.Region}}</p>
    {{end}}
</body>

</html>