<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    {{range .}}
    <h2>{{.Name}}</h2>
    <p>{{.Descrip}}</p>
    <p>{{.Meal}}</p>
    <h3>{{.Price}}</h3>
    {{end}}
</body>

</html>