

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <table>
      {{range $idx, $line := .}}
        {{if eq $idx 0}}          
          <tr>
            {{range $idxc, $header :=$line}}
            <th>{{$header}}</th>
            {{end}}
          </tr>          
        {{end}}
          {{if ne $idx 0}}
          <tr>
            {{range $idxcn, $valcel :=$line}}      
            {{if ne $idxcn 0}}      
            <td>{{$valcel | convfloat}}</td>
            {{end}}
            {{if eq $idxcn 0}}      
            <td>{{$valcel | convdate}}</td>
            {{end}}            
            {{end}}
          </tr>
          {{end}}
      {{end}}    
    </table>

</body>

</html>